<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <div>
        <canvas id="barChart" width="200" height="200"></canvas>
    </div>
    <div>
        <canvas id="pieChart" width="200" height="200"></canvas>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>

        var barColors = [
          "#b91d47",
          "#00aba9",
          "#2b5797",
          "#e8c3b9",
          "#1e7145"
        ];

        new Chart("pieChart", {
          type: "pie",
          data: {
            labels: ["Mr. Jacoby", "Ms. Guo", "Mr. Coster", "Ms. Zhang"],
            datasets: [{
              backgroundColor: barColors,
              data: [2, 5, 7, 3]
            }]
          },
          options: {
            title: {
              display: true,
              text: "Teachers"
            }
          }
        });

    </script>
</html>