<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Please register an account</h1>
    <p>This will only take a few seconds</p>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.studentid }}
        {{ form.name }}
        {{ form.teacher }}
        {{ form.submit }}
    </form>

    {% if message %}
    <h2>{{ message }}</h2>
    {% endif %}
    <a href="{{ url_for('login') }}">Already have an account? Log In</a>
</body>
<style type="text/css">
    .form{
        border: 2px solid black;
    }
</style>
</html>